In [2]:
#Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

import pandas as pd
import numpy as np

array = np.array([4,8,15,16,23,42])
s = pd.Series(array)
print(s)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [3]:
'''Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.'''

a=['1','2','3','4','5','6','7','8','9','10']
s1=pd.Series(a)
print(s1)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: object

In [4]:
data = {'Name': ["Alice", "Bob", "Claire"], 
        'Age': ['25', '30', '27'],
        'Gender':["Female","Male","Female"] }
tab=pd.DataFrame.from_dict(data)
tab.style.hide_index()

/tmp/ipykernel_118/693880907.py:5: FutureWarning: this method is deprecated in favour of `Styler.hide(axis="index")`
  tab.style.hide_index()

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

A.A Pandas DataFrame is a 2 dimensional data structure, like a 2 dimensional array, or a table with rows and columns.

Pandas Series:

One-dimensional
Homogenous – Series elements must be of the same data type.
Size-immutable – Once created, the size of a Series object cannot be changed.

Pandas DataFrame:

Two-dimensional
Heterogenous –DataFrame elements can have different data types.
Size-mutable – Elements can be dropped or added in an existing DataFrame.

In [7]:
#pandas.Series example
data = {'Mon': 22, 'Tues': 23, 'Wed': 23, 'Thurs': 24, 'Fri': 23, 'Sat': 22, 'Sun': 21}
series = pd.Series(data=data, name='series_from_dict')
print(series)

Mon      22
Tues     23
Wed      23
Thurs    24
Fri      23
Sat      22
Sun      21
Name: series_from_dict, dtype: int64

In [8]:
data = {'Name': ["Alice", "Bob", "Claire"], 
        'Age': ['25', '30', '27'],
        'Gender':["Female","Male","Female"] }
tab=pd.DataFrame.from_dict(data)
tab.style.hide_index()

/tmp/ipykernel_118/693880907.py:5: FutureWarning: this method is deprecated in favour of `Styler.hide(axis="index")`
  tab.style.hide_index()

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

Read CSV
1. read_csv()
This is one of the most crucial pandas methods in Python. read_csv() function helps read a comma-separated values (csv) file into a Pandas DataFrame

import pandas as pd
data_1=pd.read_csv("data.csv")

In [9]:
import pandas as pd
data_1=pd.read_csv("data.csv")

2.head()
head(n) is used to return the first n rows of a dataset. By default, df.head() will return the first 5 rows of the DataFrame. If you want more/less number of rows, you can specify n as an integer.

data_1.head(6)

In [11]:
data_1.head(6)

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
0,1,1,NaN,NaN,NaN,Walk in or apply by phone.,"Older adults age 55 or over, ethnic minorities...",A walk-in center for older adults that provide...,"Age 55 or over for most programs, age 60 or ov...",NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Fair Oaks Adult Activity Center,NaN,Colma,active,No wait.,NaN,NaN
1,2,2,NaN,NaN,NaN,Apply by phone for an appointment.,Residents of San Mateo County age 55 or over,Provides training and job placement to eligibl...,"Age 55 or over, county resident and willing an...",NaN,...,NaN,"EMPLOYMENT/TRAINING SERVICES, Job Development,...",NaN,Second Career Employment Program,NaN,San Mateo County,active,Varies.,NaN,NaN
2,3,3,NaN,NaN,NaN,Phone for information (403-4300 Ext. 4322).,Older adults age 55 or over who can benefit fr...,Offers supportive counseling services to San M...,Resident of San Mateo County age 55 or over,NaN,...,NaN,"Geriatric Counseling, Older Adults, Gay, Lesbi...",NaN,Senior Peer Counseling,NaN,San Mateo County,active,Varies.,NaN,NaN
3,4,4,NaN,NaN,NaN,Apply by phone.,"Parents, children, families with problems of c...",Provides supervised visitation services and a ...,None,NaN,...,NaN,"INDIVIDUAL AND FAMILY DEVELOPMENT SERVICES, Gr...",NaN,Family Visitation Center,NaN,San Mateo County,active,No wait.,NaN,NaN
4,5,5,NaN,NaN,NaN,Phone for information.,Low-income working families with children tran...,Provides fixed 8% short term loans to eligible...,Eligibility: Low-income family with legal cust...,NaN,...,NaN,"COMMUNITY SERVICES, Speakers, Automobile Loans",NaN,Economic Self-Sufficiency Program,NaN,San Mateo County,active,NaN,NaN,NaN
5,6,6,NaN,NaN,NaN,Walk in or apply by phone for membership appli...,Any age,A multipurpose center offering a wide variety ...,None,NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, In-Home Su...",NaN,Little House Recreational Activities,NaN,San Mateo County,active,No wait.,NaN,NaN

3. describe()

describe() is used to generate descriptive statistics of the data in a Pandas DataFrame or Series. It summarizes central tendency and dispersion of the dataset. describe() helps in getting a quick overview of the dataset. More details about describe() can be found here.

In [12]:
data_1.describe()

             id  location_id  program_id
count  23.00000    23.000000         0.0
mean   12.00000    11.956522         NaN
std     6.78233     6.711444         NaN
min     1.00000     1.000000         NaN
25%     6.50000     6.500000         NaN
50%    12.00000    12.000000         NaN
75%    17.50000    17.500000         NaN
max    23.00000    22.000000         NaN

In [14]:
data_1.columns

Index(['id', 'location_id', 'program_id', 'accepted_payments',
       'alternate_name', 'application_process', 'audience', 'description',
       'eligibility', 'email', 'fees', 'funding_sources',
       'interpretation_services', 'keywords', 'languages', 'name',
       'required_documents', 'service_areas', 'status', 'wait_time', 'website',
       'taxonomy_ids'],
      dtype='object')

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

A.All Pandas data structures are value mutable  except Series all are size mutable. Series is size immutable.

Q7. Create a DataFrame using multiple Series. Explain with an example.